body {
    color: #7C7C7D;
    background-image: url("https://res.wx.qq.com/a/wx_fed/webwx/res/static/img/2zrdI1g.jpg");
    overflow: auto;
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
}

.gray {
    color: gray;
}

.textIndent {
    text-indent: 2em;
}

.user-box, .message-box {
    float: left;
    height: 80%;
    padding: 5%;
    margin: 5%;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.user-box {
    background: #EBE8E7;
    width: 30%;
    color: #000000;
}
.message-box {
    width:60%;
}

#talkFrame {
    height: 360px;
    padding: 5px 5px;

    margin-bottom: 10px;
    overflow-y: scroll;
    overflow-x: none;
}

#inputDiv {
    margin-bottom: 5px;
}

.page {
    overflow: hidden;
    width: 890px;
    margin: 0 auto;
    background: #FFFFFF;
    font-size: 12px;
    padding: 10px 10px;
    margin-top: 50px;
}

.f-right {
    float: right;
}

#onlineUsers {

    width: 225px;
    height: 480px;
    overflow-y: scroll;
    overflow-x: none;
}

.page, #talkFrame, #onlineUsers {
    border-radius: 3px;
}

	
